.foto{
    width: 250px;
    border-radius: 50%;
    }

    .miniatura{
        display: inline-block;
        margin: 5px;
   }
   .miniatura img{
       width: 300px;
       border:thin solid black;  
   }

   .um{
       background-color: rgb(0, 162, 255);
   }

